################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
BackEnd/node_modules
FrontEnd/node_modules
node_modules
BackEnd/database.db
BackEnd/log.log
